name: Container image vulnerability scans
on:
  schedule:
  # every day at 1:12AM UTC
  - cron: '12 1 * * *'
  workflow_dispatch:

jobs:
  scan-images:
    name: Perform vulnerability scans
    strategy:
      fail-fast: false
      matrix:
        # specfy location of bundle(s) to be scanned
        bundle-path:
          - 1.8/stable/kubeflow
          - 1.9/stable
          - latest/edge
    uses: ./.github/workflows/get-images-and-scan.yaml
    with:
      bundle-path: ${{ matrix.bundle-path }}