name: MicroK8s Test

on:
  - push
  - pull_request

jobs:
  actions:
    name: Github Actions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        juju: [2.8/stable, latest/candidate]
        microk8s: [1.18/stable, 1.18/edge]
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install test dependencies
      run: |
        set -eux
        sudo snap install charm --classic
        sudo snap install jq
        sudo snap install juju --classic --channel ${{ matrix.juju }}
        sudo snap install juju-helpers --classic --edge
        sudo snap install juju-wait --classic
        sudo snap install kubectl --classic
        sudo snap install microk8s --classic --channel ${{ matrix.microk8s }}
        sudo snap install yq
        sudo apt update
        sudo apt install -y libssl-dev python3-setuptools
        sudo pip3 install pytest sh kfp requests pyyaml selenium
        sudo usermod -a -G microk8s $USER

    - name: Deploy Kubeflow
      run: |
        set -eux
        git clone git://git.launchpad.net/canonical-osm
        cp -r canonical-osm/charms/interfaces/juju-relation-mysql mysql
        sudo python3 ./scripts/cli.py microk8s setup --test-mode 
        KUBEFLOW_AUTH_PASSWORD=foobar sudo -E python3 ./scripts/cli.py --debug deploy-to uk8s --build --bundle edge

    - name: Test Kubeflow
      run: |
        set -eux
        # The pods can sometimes stay in Pending for a little while longer,
        # so run the tests first that don't check pod states.
        sudo ./tests/run.sh -m edge

    - name: Juju status
      run: sudo juju status
      if: failure()

    - name: Juju status (YAML)
      run: sudo juju status --format=yaml
      if: failure()

    - name: MicroK8s status
      run: sudo microk8s status
      if: failure()

    - name: MicroK8s get pods
      run: sudo microk8s kubectl get pods -A
      if: failure()

    - name: MicroK8s describe pods
      run: sudo microk8s kubectl describe pods -A
      if: failure()

    - name: Kubeflow pod logs
      run: |
        set -eux
        pods=$(sudo microk8s kubectl get pods -nkubeflow -o custom-columns=:metadata.name --no-headers)
        for pod in $pods; do
            containers=$(sudo microk8s kubectl get pods -nkubeflow -o jsonpath="{.spec.containers[*].name}" $pod)

            for container in $containers; do
              sudo microk8s kubectl logs -nkubeflow --timestamps $pod -c $container
              printf '\n'
            done
            printf '\n\n'
        done
      if: failure()

    - name: Generate debug log
      run: sudo juju debug-log --replay --no-tail > juju-debug-${{ strategy.job-index }}.log
      if: failure()

    - name: Upload debug log
      uses: actions/upload-artifact@v2
      with:
        name: juju-debug-actions
        path: juju-debug-${{ strategy.job-index }}.log
      if: failure()

    - name: Generate inspect tarball
      run: >
        sudo microk8s inspect |
        grep -Po "Report tarball is at \K.+" |
        sudo xargs -I {} mv {} inspection-report-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Upload inspect tarball
      uses: actions/upload-artifact@v2
      with:
        name: inspection-reports-actions
        path: ./inspection-report-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Generate kubectl describe
      run: |
        set -eux
        mkdir describe-${{ strategy.job-index  }}
        for resource in $(microk8s kubectl api-resources -o name | sort); do
            microk8s kubectl describe $resource -A > describe-${{ strategy.job-index }}/"$resource".describe || true
        done
      if: failure()

    - name: Upload kubectl describe
      uses: actions/upload-artifact@v2
      with:
        name: kubectl-describe-actions
        path: describe-${{ strategy.job-index }}/*.describe
      if: failure()

    - name: Generate kubeflow pod logs
      run: |
        set -eux
        mkdir stdout-${{ strategy.job-index }}
        for pod in $(microk8s kubectl get pods -nkubeflow -o custom-columns=:metadata.name --no-headers); do
            for container in $(microk8s kubectl get pods -nkubeflow -o jsonpath="{.spec.containers[*].name}" $pod); do
              microk8s kubectl logs -nkubeflow --timestamps $pod -c $container > stdout-${{ strategy.job-index }}/$pod-$container.log
            done
        done
      if: failure()

    - name: Upload kubeflow pod logs
      uses: actions/upload-artifact@v2
      with:
        name: kubectl-stdout-actions
        path: stdout-${{ strategy.job-index }}/*.log
      if: failure()

  # Runs tests on AWS that are too big for github actions
  # Tests that are small enough are above in `actions:`
  aws:
    name: AWS
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        juju: [2.8/stable]
        microk8s: [1.18/stable, 1.18/edge]
        bundle: [lite, full]
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo snap install juju --classic
        sudo snap install juju-wait --classic

    - name: Bootstrap onto AWS
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        set -eux
        juju autoload-credentials --client aws
        juju bootstrap aws/us-east-1 uk8saws --debug --show-log --config test-mode=true --model-default test-mode=true
        juju deploy ubuntu --constraints 'cores=8 mem=16G root-disk=80G'
        juju wait -vw
        juju status
        juju status --format yaml

    - name: Copy code to AWS instance
      run: |
        set -eux
        juju scp -- -r $(pwd)/ ubuntu/0:~/

    - name: Install test dependencies
      run: |
        juju ssh ubuntu/0 <<EOF
          set -eux
          sudo snap install charm --classic
          sudo snap install jq
          sudo snap install juju --classic --channel ${{ matrix.juju }}
          sudo snap install juju-helpers --classic --edge
          sudo snap install juju-wait --classic
          sudo snap install kubectl --classic
          sudo snap install microk8s --classic --channel ${{ matrix.microk8s }}
          sudo snap install yq
          sudo apt update
          sudo apt install -y libssl-dev firefox-geckodriver
          sudo pip3 install pytest sh kfp requests pyyaml selenium
          sudo usermod -a -G microk8s ubuntu
        EOF

    - name: Deploy Kubeflow
      run: |
        juju ssh ubuntu/0 <<EOF
          set -eux
          cd bundle-kubeflow
          git clone git://git.launchpad.net/canonical-osm
          cp -r canonical-osm/charms/interfaces/juju-relation-mysql mysql
          python3 ./scripts/cli.py microk8s setup --test-mode
          KUBEFLOW_AUTH_PASSWORD=foobar python3 ./scripts/cli.py --debug deploy-to uk8s --build --bundle ${{ matrix.bundle }}
        EOF

    - name: Test Kubeflow
      run: |
        juju ssh ubuntu/0 <<EOF
          set -eux
          cd bundle-kubeflow

          # https://bugs.launchpad.net/juju/+bug/1900915
          # This seems to mostly work... :(
          juju wait -wv
          sleep 300
          juju wait -wv

          # The pods can sometimes stay in Pending for a little while longer,
          # so run the tests first that don't check pod states.
          ./tests/run.sh -m ${{ matrix.bundle }}
        EOF

    - name: Juju status
      run: juju ssh ubuntu/0 sudo juju status
      if: failure()

    - name: Juju status (YAML)
      run: juju ssh ubuntu/0 sudo juju status --format=yaml
      if: failure()

    - name: MicroK8s status
      run: juju ssh ubuntu/0 sudo microk8s status
      if: failure()

    - name: MicroK8s get pods
      run: juju ssh ubuntu/0 sudo microk8s kubectl get pods -A
      if: failure()

    - name: MicroK8s describe pods
      run: juju ssh ubuntu/0 sudo microk8s kubectl describe pods -A
      if: failure()

    - name: Get selenium screenshot
      run: juju scp ubuntu/0:/tmp/selenium.png selenium-${{ strategy.job-index }}.png
      if: failure()

    - name: Upload selenium screenshot
      uses: actions/upload-artifact@v2
      with:
        name: selenium-screenshots
        path: selenium-${{ strategy.job-index }}.png
      if: failure()

    - name: Generate inspect tarball
      run: |
        set -eux
        juju ssh ubuntu/0 <<EOF
          set -eux
          sudo microk8s inspect | \
            grep -Po "Report tarball is at \K.+" | \
            sudo xargs -I {} mv {} inspection-report-${{ strategy.job-index }}.tar.gz
          sudo juju debug-log --replay --no-tail > ~/juju-debug.log
        EOF
        juju scp ubuntu/0:~/juju-debug.log juju-debug-${{ strategy.job-index }}.log
        juju scp ubuntu/0:~/inspection-report-${{ strategy.job-index }}.tar.gz .
      if: failure()

    - name: Upload debug logs
      uses: actions/upload-artifact@v2
      with:
        name: juju-debug-aws
        path: juju-debug-${{ strategy.job-index }}.log
      if: failure()

    - name: Upload inspect tarball
      uses: actions/upload-artifact@v2
      with:
        name: inspection-reports-aws
        path: ./inspection-report-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Generate kubectl describe
      run: |
        set -eux
        juju ssh ubuntu/0 <<EOF
          set -eux
          mkdir describe-${{ strategy.job-index }}
          for resource in \$(sudo microk8s kubectl api-resources -o name | sort); do
            sudo microk8s kubectl describe \$resource -A > describe-${{ strategy.job-index }}/"\$resource".describe || true
          done
          tar -cvzf describe.tar.gz describe-${{ strategy.job-index }}/*.describe
        EOF
        juju scp ubuntu/0:~/describe.tar.gz describe-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Upload kubectl describe
      uses: actions/upload-artifact@v2
      with:
        name: kubectl-describe-aws
        path: describe-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Generate kubeflow pod logs
      run: |
        set -eux
        juju ssh ubuntu/0 <<EOF
          set -eux
          mkdir stdout-${{ strategy.job-index }}
          for namespace in admin kubeflow; do
              for pod in \$(microk8s kubectl get pods -n \$namespace -o custom-columns=:metadata.name --no-headers); do
                  for container in \$(microk8s kubectl get pods -n \$namespace -o jsonpath="{.spec.containers[*].name}" \$pod); do
                    microk8s kubectl logs -n \$namespace --timestamps \$pod -c \$container > stdout-${{ strategy.job-index }}/\$namespace-\$pod-\$container.log
                  done
              done
          done
          tar -cvzf stdout.tar.gz stdout-${{ strategy.job-index }}/*.log
        EOF
        juju scp ubuntu/0:~/stdout.tar.gz stdout-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Upload kubeflow pod logs
      uses: actions/upload-artifact@v2
      with:
        name: kubectl-stdout-aws
        path: stdout-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Destroy controller
      run: juju destroy-controller -y uk8saws --destroy-all-models --destroy-storage
      if: always()
